@import "tailwindcss";

:root {
  --background: #060406;
  --foreground: #ffffff;
  --primary: #9333EA;
  --link: #9CA3AF;
  --radius: 7px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-app-bg: var(--background);
  --color-app-text: var(--foreground);
  --color-primary: var(--primary);
  --color-link: var(--link);

  --font-sans: var(--font-manrope);
  --font-heading: var(--font-manrope);

  --radius-app: var(--radius);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}